@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Zain", sans-serif;
  font-style: normal;
}

@media (max-width: 768px) {
  html {
    font-size: 8px; /* 1rem = 14px */
  }
}
